.aside {
  position: relative;
  width: 266px;
  min-width: 266px;
  // padding-top: 22px;
  background-color: #F8F9FA;

  @media (max-width: $breakpoint992) {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    // padding-bottom: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 234px;
    height: 1px;
    transform: translateX(-50%);
    background-image: url('../img/icons/aside-line.svg');
  }

  // .aside__inner

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: 100%;
    padding: 0 15px 0 30px;

    @media (max-width: $breakpoint992) {
      padding: 12px;
    }
  }

  // .aside__list

  &__list {
    padding-top: 24px;

    @media (max-width: $breakpoint992) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 12px;
      padding-top: 0;
    }

    @media (max-width: $breakpoint768) {
      column-gap: 0;
    }
  }

  // .aside__item

  &__item {
    padding: 20px 24px;
    border-radius: 15px;
    transition: 0.2s linear;

    &.active {
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
      background: var(--white);

      .aside__link-icon {
        background-color: #e488cc;
        box-shadow: none;

        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(124deg) brightness(105%) contrast(102%);
        }
      }

      .aside__link-text {
        color: #2d3748;
      }
    }

    @media (hover:hover) {
      &:hover {
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
        background: var(--white);

        .aside__link-icon {
          background-color: #e488cc;
          box-shadow: none;

          img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(124deg) brightness(105%) contrast(102%);
          }
        }

        .aside__link-text {
          color: #2d3748;
        }
      }
    }

    @media (max-width: $breakpoint768) {
      padding: 12px;
    }
  }

  // .aside__linkn

  &__linkn {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    color: #a0aec0;
  }

  // .aside__link-icon

  &__link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
    background-color: var(--white);
    transition: 0.2s linear;

    @media (max-width: $breakpoint768) {
      // width: 24px;
      // height: 24px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  // .aside__link-text

  &__link-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    color: #a0aec0;
    transition: 0.2s linear;

    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  // .aside__help

  &__help {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    align-self: flex-start;
    width: 220px;
    padding: 16px;
    border-radius: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='218' height='170' viewBox='0 0 218 170' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='218' height='169.5' rx='15' fill='url(%23paint0_linear_2153_3925)'/%3E%3Cmask id='mask0_2153_3925' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='218' height='170'%3E%3Crect width='218' height='169.5' rx='15' fill='%234FD1C5'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2153_3925)'%3E%3Cg opacity='0.1'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M193.378 44.3649L129 82.2449V124.828H167.756L129.002 147.631V190.251H171.586L236 152.371V109.751H197.222L235.998 86.9484V44.3649H193.378Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M193.378 44.3649L129 82.2449V124.828H167.756L129.002 147.631V190.251H171.586L236 152.371V109.751H197.222L235.998 86.9484V44.3649H193.378Z' fill='white'/%3E%3Cpath d='M235.962 44.3667H193.378V86.9503H235.962V44.3667Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2153_3925' x1='-72.6643' y1='114.884' x2='62.5358' y2='-99.363' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23DF87F1'/%3E%3Cstop offset='1' stop-color='%23219F70'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  // .aside__help-icon

  &__help-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: var(--white);
  }

  // .aside__help-label

  &__help-label {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 120%;
    color: var(--white);
  }

  // .aside__help-text

  &__help-text {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 120%;
    color: var(--white);
  }

  // .aside__help-btn

  &__help-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 35px;
    border-radius: 6px;
    background-color: var(--white);
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 10px;
    line-height: 120%;
    text-align: center;
    color: #2d3748;
  }
}