.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.inner {
  flex-grow: 1;

  display: grid;
  grid-template-columns: 266px 1fr;

  @media (max-width: $breakpoint992) {
    grid-template-columns: 1fr;
  }
}

.fullscreen {
  flex-grow: 1;

  display: grid;
  grid-template-columns: 248px 1fr;
  column-gap: 24px;
  padding: 24px 24px 46px;
  background-color: #F4F6FF;

  .content {
    padding: 0;
  }

  .footer {
    grid-column: span 2;
  }

  @media (max-width: $breakpoint992) {
    grid-template-columns: 1fr;
    row-gap: 24px;

    padding: 0;

    .footer {}

    .footer {
      padding: 20px 16px 120px 16px;
      grid-column: span 1;
    }
  }

  @media (max-width: $breakpoint768) {
    padding: 20px 12px;
  }

}

.content {
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
  background-color: #F4F6FF;
  border-radius: 24px 0 0 0;

  @media (max-width: $breakpoint768) {
    padding: 20px 16px;
    border-radius: 12px 0 0 0;
  }

}

.title {
  margin-bottom: 28px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #2d3748;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  padding: 12px;
  border-radius: 6px;
  background: linear-gradient(15deg, #df87f1 0%, #219f70 100%);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
}

.btn-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  padding: 12px;
  border-radius: 6px;
  background: transparent;
  border: 1px solid #a0aec0;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #a0aec0;
}

.btn-sup {
  column-gap: 0;

  sup {
    margin-top: -4px;
    font-size: 10px;
  }
}