.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 24px;
  row-gap: 40px;

  @media (max-width: $breakpoint1450) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: $breakpoint1200) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $breakpoint992) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
  }

  @media (max-width: $breakpoint768) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4px;
    row-gap: 24px;
    padding: 0 16px;
  }
}

.card {
  position: relative;
  display: grid;
  row-gap: 20px;
  transition: 0.3s linear;
  cursor: pointer;

  @media (max-width: $breakpoint768) {
    align-content: baseline;
  }

  // .card__link

  &__link {
    position: relative;
    display: grid;
    row-gap: 20px;
    transition: 0.3s linear;

    @media (max-width: $breakpoint768) {
      align-content: baseline;
    }
  }

  // .card__picture

  &__picture {
    position: relative;
    z-index: 1;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s linear;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(49, 56, 96, 0.16) 0%, rgba(21, 25, 40, 0.88) 100%);
      user-select: none;
      pointer-events: none;
      // z-index: -1;
    }

    @media (max-width: $breakpoint768) {
      height: 200px;
      border-radius: 8px;
    }
  }

  // .card__badge

  &__badge {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    min-height: 24px;
    border-radius: 2px;
    background-color: var(--white);
    font-weight: 700;
    font-size: 9px;
    line-height: 120%;
    text-align: center;
    color: #2d3748;

    @media (max-width: $breakpoint768) {
      top: 8px;
      left: 8px;
      padding: 2px 4px;
      font-size: 8px;
    }
  }

  // .card__badge-green

  &__badge-green {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px;
    min-width: 80px;
    min-height: 24px;
    border-radius: 2px;
    background-color: var(--green);
    font-weight: 700;
    font-size: 9px;
    line-height: 120%;
    text-align: center;
    color: var(--white);

    @media (max-width: $breakpoint768) {
      top: 8px;
      right: 8px;
      min-width: 40px;
      font-size: 8px;
    }
  }

  // .card__pic

  &__pic {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;

    @media (max-width: $breakpoint768) {
      height: 100%;
      border-radius: 8px;
    }
  }

  // .card__footer

  &__footer {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    transition: 0.3s linear;
    // padding-right: 100px;

    &:has(.card__percent) {

      .card__info,
      .card__advantages {
        padding-right: 62px;

        @media (max-width: $breakpoint768) {
          padding-right: 0;
        }
      }

    }

  }

  // .card__info

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  // .card__location

  &__location {
    font-size: 9px;
    line-height: 120%;
    color: #a0aec0;
  }

  // .card__title

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #2d3748;

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
  }

  // .card__advantages

  &__advantages {
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;

    @media (max-width: $breakpoint992) {
      column-gap: 10px;
    }

    @media (max-width: $breakpoint768) {
      column-gap: 4px;
      row-gap: 4px;
    }
  }

  // .card__advantage

  &__advantage {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  // .card__advantage-icon

  &__advantage-icon {
    transition: 0.3s linear;
  }

  // .card__advantage-texts

  &__advantage-texts {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  // .card__advantage-text

  &__advantage-text {
    font-size: 12px;
    line-height: 120%;
    color: #2d3748;
  }

  &__favorite {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: transparent;
    border: 0;
    outline: 0;
  }

  &__favorite-pic {}

  // .card__percent

  &__percent {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 0;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 4px solid #E488CC;

    font-weight: 800;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    color: #2d3748;
    transition: 0.3s linear;

    @media (max-width: $breakpoint768) {
      position: static;
      top: 0;

      transform: translateY(0);
      width: 40px;
      height: 40px;
      font-size: 12px;
    }
  }
}

.card {
  align-content: baseline;

  @media (hover:hover) {
    &:hover {
      row-gap: 0;
      align-content: baseline;


      .card__footer {
        padding: 20px 18px;
        border-radius: 0 0 15px 15px;
        background-color: var(--white);
      }

      .card__picture {
        height: 194px;
        border-radius: 12px 12px 0 0;
      }

      .card__pic {
        border-radius: 12px 12px 0 0;
      }

      .card__advantage-icon {
        width: 18px;
        height: 18px;
      }

      .card__text {
        font-size: 12px;
      }

      .card__advantage-sum {
        font-size: 14px;
      }

      .card__advantages {
        column-gap: 8px;
        row-gap: 8px;
      }

      .card__btns {
        height: auto;
        transform: scale(1);
      }

      .card__price {
        font-size: 16px;
      }

      .card__percent {
        // top: 30%;
        right: 12px;
      }
    }
  }

  @media (max-width: $breakpoint768) {
    row-gap: 0;
    align-content: baseline;


    .card__footer {
      padding: 16px 8px;
    }

    .card__picture {
      height: 194px;
    }


    .card__advantage-icon {
      width: 16px;
      height: 16px;
    }

    .card__text {
      font-size: 10px;
    }

    .card__advantage-sum {
      font-size: 12px;
    }

    .card__btns {
      height: auto;
      transform: scale(1);
    }

    .card__price {
      font-size: 14px;
    }
  }
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  flex-wrap: wrap;

  font-family: var(--font-family);
  font-weight: 600;
  // font-size: 18px;
  font-size: 0;
  line-height: 120%;
  color: #2d3748;
}

.card__text {
  // font-size: 12px;
  font-size: 0;
  line-height: 140%;
  color: #a0aec0;
  transition: 0.1s linear;
}

.card__advantage-sum {
  white-space: nowrap;
  font-weight: 700;
  // font-size: 16px;
  font-size: 0;
  line-height: 120%;
  text-align: right;
  color: #2d3748;
  transition: 0.3s linear;
}

.card__btns {
  transform: scale(0);
  height: 0;
  transition: 0.3s linear;
}

.card__btns--column-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 12px;

  @media (max-width: $breakpoint768) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card__btn {
  height: 36px;
}