@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-Light.woff2') format('woff2'), url('../fonts/VelaSans-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-Regular.woff2') format('woff2'), url('../fonts/VelaSans-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-Medium.woff2') format('woff2'), url('../fonts/VelaSans-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-SemiBold.woff2') format('woff2'), url('../fonts/VelaSans-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-Bold.woff2') format('woff2'), url('../fonts/VelaSans-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-ExtraBold.woff2') format('woff2'), url('../fonts/VelaSans-ExtraBold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Regular.woff2') format('woff2'), url('../fonts/Helvetica-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2'), url('../fonts/Helvetica-Bold.woff') format('woff');
  font-weight: 700;
}