// Footer
.footer {
  margin-top: auto;

  @media (max-width: $breakpoint992) {
    padding-bottom: 120px;
  }

  // .footer__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint768) {
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-start;
      row-gap: 24px;
    }
  }

  // .footer__copy

  &__copy {
    font-size: 12px;
    line-height: 120%;
    color: #a0aec0;
  }

  // .footer__nav

  &__nav {}

  // .footer__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 40px;

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
    }
  }

  // .footer__item

  &__item {}

  // .footer__link

  &__link {
    font-size: 12px;
    line-height: 120%;
    color: #a0aec0;
    transition: color 0.2s linear;

    @media (hover:hover) {
      &:hover {
        color: var(--black);
      }
    }
  }
}