.profile {
  max-width: 866px;
  width: 100%;
  padding: 24px 20px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
  background: var(--white);
  margin-bottom: 40px;

  @media (max-width: $breakpoint992) {
    padding: 24px 16px;
    max-width: 100%;
  }


  // .profile__inner

  &__inner {}

  // .profile__title

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #2d3748;
  }

  // .profile__main

  &__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: baseline;
    align-items: flex-start;
    column-gap: 40px;
    margin-bottom: 42px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
    }
  }

  // .profile__info

  &__info {
    display: flex;
    align-items: center;
    column-gap: 22px;
  }

  // .profile__avatar

  &__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background-color: #e6ebf2;
  }

  // .profile__avatar-icon

  &__avatar-icon {}

  // .profile__texts

  &__texts {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  // .profile__name

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #2d3748;
  }

  // .profile__email

  &__email {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #718096;
  }

  // .profile__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  // .profile__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  // .profile__item-text

  &__item-text {
    font-weight: 400;
    color: #a0aec0;
    font-size: 12px;
    line-height: 120%;
  }

  // .profile__item-text--black

  &__item-text--black {
    font-weight: 700;
    color: #718096;
  }

  // .profile__item-verifed

  &__item-verifed {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  // .profile__item-verifed--green

  &__item-verifed--green {
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    color: #219F70;
  }

  // .profile__statistic

  &__statistic {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  // .profile__statistic-head

  &__statistic-head {}

  // .profile__statistic-label

  &__statistic-label {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #2d3748;
  }

  // .profile__statistic-obj

  &__statistic-obj {
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
    color: #a0aec0;

    span {
      font-weight: 700;
      color: #219F70;
    }
  }

  // .profile__statistic-list

  &__statistic-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
    row-gap: 40px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(2, 1fr);

    }
  }

  // .profile__statistic-item

  &__statistic-item {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  // .profile__statistic-item-info

  &__statistic-item-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .profile__statistic-item-icon

  &__statistic-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    min-width: 25px;
    border-radius: 6px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
    background-color: #a0aec0;
  }

  // .profile__statistic-item-label

  &__statistic-item-label {
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    color: #a0aec0;
  }

  // .profile__statistic-item-footer

  &__statistic-item-footer {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  // .profile__statistic-item-sum

  &__statistic-item-sum {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #2d3748;
  }

  // .profile__statistic-item-line

  &__statistic-item-line {
    height: 3px;
    width: 100%;
    background-color: #e2e8f0;

    span {
      display: block;
      background-color: #e488cc;
      height: 100%;
    }
  }

  // .profile__avatar-change
  &__avatar-change {
    position: absolute;
    bottom: -6px;
    right: -6px;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    background: var(--white);
  }
}