.settings {
  margin-bottom: 40px;

  // .settings__inner

  &__inner {
    display: grid;
    grid-template-columns: 1fr 460px;
    column-gap: 24px;

    @media (max-width: $breakpoint1450) {
      grid-template-columns: 1fr;
      row-gap: 24px;
    }
  }

  // .settings__security

  &__security {
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
    background-color: var(--white);

    @media (max-width: $breakpoint768) {
      padding: 16px;
    }

  }

  // .settings__title

  &__title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #2d3748;
  }

  // .settings__rows

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  // .settings__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 16px;
      align-items: flex-start;
    }

  }

  // .settings__info

  &__info {
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
  }

  // .settings__info-icon

  &__info-icon {}

  // .settings__info-texts

  &__info-texts {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  // .settings__info-label

  &__info-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #2d3748;
  }

  // .settings__info-text

  &__info-text {
    font-size: 12px;
    line-height: 120%;
    color: #2d3748;
  }

  // .settings__actions

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 24px;

    @media (max-width: $breakpoint768) {
      justify-content: space-between;
      width: 100%;
    }

  }

  // .settings__action

  &__action {
    display: flex;
    align-items: center;
    column-gap: 6px;

    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #2d3748;
  }

  // .settings__action-icon

  &__action-icon {}

  // .settings__action-btn

  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 36px;
    padding: 8px;
    border: 1px solid #a0aec0;
    border-radius: 6px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: #a0aec0;
    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        background-color: var(--white);
        border-color: var(--grey);
        color: var(--grey);
      }
    }

    @media (max-width: $breakpoint768) {
      margin-left: auto;
      width: 100px;
    }

  }

  // .settings__steps

  &__steps {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px 24px 36px;
    border-radius: 15px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
    background-color: var(--white);

    @media (max-width: $breakpoint768) {
      padding: 24px 16px;
    }

  }

  // .settings__steps-title

  &__steps-title {
    max-width: 354px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
    color: #2d3748;

    span {
      font-weight: 700;
      color: #e488cc;
    }

    a {
      font-weight: 700;
      color: #e488cc;
    }
  }

  // .settings__steps-steps

  &__steps-steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 12px;
    row-gap: 24px;
  }

  // .settings__steps-step

  &__steps-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;

    &.active {
      .settings__steps-border {
        background-color: #e488cc;
      }

      .settings__steps-text {
        color: #e488cc;
      }
    }
  }

  // .settings__steps-border

  &__steps-border {
    height: 10px;
    width: 100%;
    border-radius: 2px;
    background-color: #e6ebf2;
  }

  // .settings__steps-text

  &__steps-text {
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #2d3748;
  }

  // .settings__steps-label

  &__steps-label {
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #2d3748;
  }

  // .settings__steps-qodes

  &__steps-qodes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 40px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: center;
      row-gap: 24px;
    }

  }

  // .settings__steps-qode

  &__steps-qode {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 12px;

    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #2d3748;

    img {
      border-radius: 10px;
    }
  }

  // .settings__steps-btn

  &__steps-btn {
    max-width: 336px;
    width: 100%;
    height: 48px;
    margin: 0 auto;
  }

  // .settings__steps-points
  &__steps-points {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: fit-content;
    margin: 0 auto;
  }

  // .settings__steps-point
  &__steps-point {
    position: relative;
    padding-left: 26px;
    font-size: 14px;
    line-height: 120%;
    color: #2d3748;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #E488CC;
    }
  }

  // .settings__inputs

  &__inputs {}

  // .settings__inputs-label

  &__inputs-label {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    text-transform: uppercase;
    color: #2d3748;
  }

  // .settings__inputs-list

  &__inputs-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;

    @media (max-width: $breakpoint768) {
      column-gap: 4px;
    }

  }

  // .settings__inputs-item

  &__inputs-item {
    display: flex;
  }

  // .settings__inputs-input

  &__inputs-input {
    border: 1px solid #e2e8f0;
    outline: 0;
    border-radius: 6px;
    width: 100%;
    height: 80px;
    background-color: var(--white);

    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #2d3748;

    @media (hover:hover) {
      &:hover {
        border-color: var(--grey);
      }
    }

    &:active,
    &:focus {
      border-color: var(--grey);
    }
  }

}


.settings {

  // .settings__changes

  &__changes {
    max-width: 346px;
    height: fit-content;
    width: 100%;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
    background: var(--white);


    @media (max-width: $breakpoint768) {
      max-width: 100%;
      padding: 20px 16px;
    }
  }

  // .settings__changes-inner

  &__changes-inner {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

  }


  // .settings__changes-title

  &__changes-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #2d3748;
  }

  // .settings__changes-rows

  &__changes-rows {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  // .settings__changes-row

  &__changes-row {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  // .settings__changes-label

  &__changes-label {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    text-transform: uppercase;
    color: #a0aec0;
  }

  // .settings__changes-input-wrapper

  &__changes-input-wrapper {
    position: relative;
  }

  // .settings__changes-input

  &__changes-input {
    width: 100%;
    height: 52px;
    padding: 16px 16px 16px 50px;
    border: 1px solid #e2e8f0;
    outline: 0;
    border-radius: 6px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #a0aec0;

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #a0aec0;
    }

    @media (hover:hover) {
      &:hover {
        border-color: var(--grey);
      }
    }

    &:active,
    &:focus {
      border-color: var(--grey);
    }
  }

  // .settings__changes-icon

  &__changes-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
  }

  // .settings__changes-codes

  &__changes-codes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;

    @media (max-width: $breakpoint768) {
      column-gap: 4px;
    }
  }

  // .settings__changes-input--code

  &__changes-input--code {
    width: 100%;
    height: 52px;
    padding: 2px;
    text-align: center;
  }

  // .settings__steps-btn

  &__steps-btn {}
}